/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.styles_scroll-to-top__2A70v{
  border-radius: 100%;
  width:48px;
  height:48px;
  border:1px solid #ccc;
}

