.sign-in--container{
    width:100vw;
    height:calc(100vh - 91px);
    display:flex;
    justify-content: center;
    align-items: center;
}

.facebook-login{
    transform: translateY(-100%) !important;
}